* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Almarai', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

#hero {
    height: 100vh;
    background: url('https://up6.cc/2024/09/17268313401141.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 3rem; /* تقليل حجم الخط */
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2rem; /* تقليل حجم الخط */
    margin-bottom: 30px;
}

.cta-btn {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}

.cta-btn:hover {
    background: #0056b3;
}

.whatsapp-btn {
    background-color: #25d366;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 25px;
    color: white;
}

.whatsapp-btn:hover {
    background-color: #1ebe55;
}

section {
    padding: 30px; /* تقليل الحشوة */
    text-align: center;
}

#about, #services {
    background-color: #fff;
}

#contact {
    background-color: #333;
    color: #fff;
}

.services-container {
    display: flex;
    justify-content: center; /* مركزة العناصر */
    flex-wrap: wrap; /* السماح بتغيير الصفوف */
    margin-top: 30px;
}

.service {
    background: #f3f4f6;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* عرض العناصر 90% */
    max-width: 300px; /* أقصى عرض */
    margin: 10px; /* إضافة مسافة بين العناصر */
}

.service h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.owner {
    color: #007bff;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    animation: pulse 1.5s infinite;
}

img {
    max-width: 100%; /* تضمن أن الصورة لن تتجاوز عرض الصفحة */
    height: auto; /* الحفاظ على نسب العرض إلى الارتفاع */
    margin-top: 20px; /* إضافة مسافة بين الصورة والنص */
    border-radius: 10px; /* إضافة زوايا مستديرة للصورة */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف للصورة */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* تحسينات للجوالات */
@media (max-width: 768px) {
    #hero h1 {
        font-size: 2.5rem; /* تصغير حجم العنوان */
    }

    #hero p {
        font-size: 1rem; /* تصغير النص */
    }

    .cta-btn, .whatsapp-btn {
        font-size: 1rem; /* تصغير حجم الأزرار */
        padding: 8px 16px; /* تقليل الحشوة */
    }

    .service {
        width: 90%; /* عرض العناصر على الجوالات */
    }
}
